<ion-header>
  <app-header [cname]="formDetail.form1"></app-header>
</ion-header>

<ion-content class="roboto-miduim">
  <div class="p-3">
    <div class="form-name">
      <h4 class="mb-3">{{formDetail.basicDetail}}</h4>
    </div>
    <form class="form-detail" [formGroup]="transferPrescriptionForm">
      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.firstName" formControlName="fname">
        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
          <div *ngIf="f.fname.errors.required">{{formDetail.validation.fname}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.lastName" formControlName="lname">
        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
          <div *ngIf="f.lname.errors.required">{{formDetail.validation.lname}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" [placeholder]="formDetail.email" formControlName="email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">{{formDetail.validation.email}}</div>
          <div *ngIf="f.email.errors.email">{{formDetail.validation.email1}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="number" class="form-control" [placeholder]="formDetail.phone" formControlName="phone">
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">{{formDetail.validation.phone}}</div>
        </div>
      </div>

      <div class="form-group">
        <ion-datetime class="form-control" [placeholder]="formDetail.birthDate" [max]="currentDate"></ion-datetime>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.city">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.state">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.zip">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.pName">
      </div>

      <div class="form-group">
        <input type="nember" class="form-control" [placeholder]="formDetail.pPhnNo">
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control p-2" [placeholder]="formDetail.address"></textarea>
      </div>

      <div class="row rx-number m-0">
        <label class="w-100 ">{{formDetail.heading2}}</label>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx1">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 1 #">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx2">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 2 #">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx3">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 3 #">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx4">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 4 #">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx5">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx5# ">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx6">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 6 #">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx7">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 7 #">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx8">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 8 #">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx9">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 9 #">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" [placeholder]="formDetail.rx10">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Rx 10 #">
        </div>
      </div>
      <div class="form-footer">
        <ion-item>
          <ion-label position="floating">
            {{formDetail.reminder}}
          </ion-label>
          <ion-datetime display-timezone="utc" min="{{curruntDate}}" max="{{nextYear}}" formControlName="refillRemnder">
          </ion-datetime>
        </ion-item>
      </div>
      <div class="submit-btn mt-4">
        <button class="btn" (click)="addTransferPresForm(transferPrescriptionForm.value)"
          [disabled]="isDisable">{{formDetail.btnText}}</button>

      </div>

    </form>

  </div>
</ion-content>