ul {
    padding: 0;
    margin: 0;
}


ion-toolbar:last-of-type {
    height: 90px !important;
    position: relative;
    &:before {
        left: -1px;
        transform: rotate(8deg);
        @media only screen and (min-width: 627px) {
          transform: rotate(4deg);
        }
    }
    &:after {
        right: -1px;
        transform: rotate(-8deg);
        @media only screen and (min-width: 627px) {
            transform: rotate(-4deg);
          }
    }
    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 20px;
        height: 2px;
        width: 51%;
        background-color: #7a7375;
    }
}
.footer ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.footer ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding-top: 55px;
    color: #a59ca0;
    font-size: 10px;
    width: 20%;
    text-align: center;
    z-index: 2;
    img,
    svg {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }
    svg {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
        height: 28px;
        width: 23px;
        fill: #a59ca0;
    }
}
.footer ul li.active {
    padding-top: 38px;
}
.footer ul li.active-page {
    color: #fa6ca2;
    font-weight: 600;
    svg {
        fill: #fa6fa2;
    }
}

.footer {
    height: 90px;
}
