<ion-header>
  <div class="header d-flex">
    <div class="back-icon float-left">
      <ion-back-button [icon]="'arrow-back-outline'" [text]="">
      </ion-back-button>
    </div>
    <div class="menu-icon float- ml-auto">
      <ion-menu-button>
      </ion-menu-button>
    </div>
  </div>
</ion-header>

<ion-content class="service-detail">
  <div class="cover-img about">
    <div class="cover-text">
    </div>
  </div>
  <div class="servicename-card">
    <p class="card-title m-0">{{details.title}}</p>
    <p class="des m-0">{{details.subTitle}}</p>
  </div>

  <div class="about-text sans-font">
    <h4 class="header-text ubntu-regular mb-3 ml-3">{{details.contentTitle1}}</h4>
    <div class="contact-detail">
      <div class="card-padding pb-0">
        <h4 class="location mb-1">{{details.location}}</h4>
        <p class="pharmacy-name">{{details.name}}</p>
        <div class="montserrat-font contact-content">
          <div class="d-flex mb-3">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span class="ml-3">{{details.address}}</span>
          </div>
          <div class="mb-3">
            <img src="assets/images/email-icon.png" style="margin-left: -6px;">
            <span class="ml-3">{{details.email}}</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="ubntu-regular card-padding pt-0">
        <img src="assets/images/phn-icon.png" class="phn-icon">
        <span class="phn-text ml-3">{{details.Phone}}:</span><span class="phn-num"> {{details.phone}}</span>
      </div>
    </div>
    <div class="contact-form">
      <h4 class="header-text ubntu-regular mb-3">{{details.title}}</h4>
      <form [formGroup]="contactForm" class="form-detail">
        <div class="form-group">
          <input type="text" class="form-control" [placeholder]="formDetail.name" formControlName="name">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <input type="email" class="form-control" [placeholder]="formDetail.email" formControlName="email">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email is not valid</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [placeholder]="formDetail.subject" formControlName="subject">
          <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
            <div *ngIf="f.subject.errors.required">Subject is required</div>
          </div>
        </div>

        <div class="form-group">
          <textarea class="form-control p-2" [placeholder]="formDetail.message" formControlName="message"></textarea>
          <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
            <div *ngIf="f.message.errors.required">Message is required</div>
          </div>
        </div>

        <div class="submit-btn">
          <button class="btn " [disabled]="isDisable"
            (click)="addContactForm(contactForm.value)">{{formDetail.btnText}}</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>