<ion-header>
  <app-header [cname]="'About Us'"></app-header>
</ion-header>

<ion-content>
  <div class="cover-img about">
    <div class="cover-text">
      <h4>About Us</h4>
    </div>
  </div>

  <div class="about-text ion-padding">
    <h3 class="header-text">Experience & trust built for 15 years</h3>

    <p class="sub-title"><strong>Jax Pharmacy is an independent community pharmacy in Florida, serving the surrounding
        locations with pharmacy
        services. We have a mission to:</strong></p>

    <p class="content-text">Optimize health care services by providing caring and convenient pharmacy experience to
      better manage a patient’s
      health and well being.</p>
    <p class="content-text">
      As an independent pharmacy, we take the time to deliver a higher level of personal attention, trusted advice that
      our patients may not find in chain pharmacies. With each visit, you will discover award winning quality service
      from a pharmacist who knows you by your name-not just by number.
    </p>
    <p class="content-text">
      All our services are made available to everyone who is eligible.
    </p>

    <div class="form-name">
      <h3 class="form-title">Our Mission</h3>
    </div>
    <h3 class="header-text">We do it for the greater good of the society</h3>
    <p class="content-text">Our mission is to optimize health care services by providing caring and convenient pharmacy
      experience to better
      manage our patients health and well being.</p>
    <p class="content-text">As independent pharmacy, we take the time to deliver a higher level of personal attention,
      trusted advice that
      our patients may not find in chain pharmacies. With each visit, you will discover award winning quality service
      from a pharmacist who knows you by your name-not just by number.</p>
  </div>


</ion-content>