<ion-header>
  <div class="header d-flex">
    <div class="back-icon float-left">
      <ion-back-button [icon]="'arrow-back-outline'" [text]="">
      </ion-back-button>
    </div>
    <div class="menu-icon float- ml-auto">
      <ion-menu-button>
      </ion-menu-button>
    </div>
  </div>
</ion-header>


<ion-content class="service-detail">
  <div class="cover-img about">
    <div class="cover-text">
    </div>
  </div>
  <div class="servicename-card">
    <p class="card-title m-0">{{details.title}}</p>
    <p class="des m-0">{{details.subTitle}}</p>
  </div>

  <div class="about-text sans-font ion-padding">
    <h4 class="header-text ubntu-regular mb-2">{{details.contentTitle1}}</h4>

    <p class="content-text"><strong>{{details.content1}}</strong></p>

    <p class="content-text">{{details.content2}}</p>
    <p class="content-text">
     {{details.content3}}
    </p>
    <p class="content-text">
     {{details.content4}}
    </p>

    <h4 class="header-text ubntu-regular mb-3">{{details.contentTitle2}}</h4>
    <div class="mission-img mb-4">
      <img src="assets/images/our-mission.png">
    </div>
    <h4 class="header-text ubntu-regular mb-2">{{details.contentTitle3}}</h4>
    <p class="content-text">{{details.content5}}</p>
    <p class="content-text">{{details.content6}}</p>
  </div>
</ion-content>