<!-- <ion-header>
  <app-header [cname]="'Employment'"></app-header>
</ion-header> -->
<ion-header>
  <div class="header d-flex">
    <div class="back-icon float-left">
      <ion-back-button [icon]="'arrow-back-outline'" [text]="">
      </ion-back-button>
    </div>
    <div class="menu-icon float- ml-auto">
      <ion-menu-button>
      </ion-menu-button>
    </div>
  </div>
</ion-header>

<ion-content class="service-detail">
  <div class="cover-img about">
    <div class="cover-text">
    </div>
  </div>
  <div class="servicename-card">
    <p class="card-title m-0">{{details.title}}</p>
    <p class="des m-0">{{details.subTitle}}</p>
  </div>
  <div class="form">
    <div class="form-name">
      <h4 class="mb-3">{{formDetail.basicDetail}}</h4>
    </div>
    <form class="form-detail" [formGroup]="employmentForm">
      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.firstName" formControlName="fname">
        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
          <div *ngIf="f.fname.errors.required">{{formDetail.validation.fname}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.lastName" formControlName="lname">
        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
          <div *ngIf="f.lname.errors.required">{{formDetail.validation.lname}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" [placeholder]="formDetail.email" formControlName="email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">{{formDetail.validation.email}}</div>
          <div *ngIf="f.email.errors.email">{{formDetail.validation.email1}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="number" class="form-control" [placeholder]="formDetail.phone" formControlName="phone_number">
        <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
          <div *ngIf="f.phone_number.errors.required">{{formDetail.validation.phone}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.position" formControlName="position">
      </div>

      <div class="form-group mb-4">
        <textarea type="text" class="form-control p-2" [placeholder]="formDetail.message" formControlName="message"></textarea>
      </div>

      <div class="form-group file-select">
        <input type="file" #file (change)="selectFile($event)" hidden>
        <span (click)="file.click()">{{formDetail.attach}}</span>
        <p *ngIf="fileName" class="mt-2">{{fileName}}</p>
      </div>

      <div class="submit-btn mt-4">
        <button class="btn " [disabled]="isDisable" (click)="addEmploymentForm(employmentForm.value)">{{formDetail.btnText}}</button>
      </div>
    </form>
  </div>
</ion-content>