<ion-header>
  <app-header [cname]="'Curbside Delivery'"></app-header>
</ion-header>

<ion-content>
  <div class="cover-img curbside">
    <div class="cover-text">
      <h4>Curbside Delivery</h4>
    </div>
  </div>
  <div class="about-text ion-padding">
    <div class="form-name">
      <h3 class="form-title">Curbside Delivery</h3>
    </div>
    <p class="content-text"><strong>Jax Pharmacy</strong> provide curbside delivery to prevent our patients from potential exposure to illness and reduce the number of people visiting our campus, Jax Pharmacy is providing free prescription delivery services to our patients’ households.</p>
    <p class="content-text"> Patients may call the Jax Pharmacy at +1 904-222-8490 to request this service and make appropriate arrangements. For those patients who would like to utilize curbside delivery at the Pharmacy, they are welcome to park at the curb closest to the Pharmacy and call +1 904-222-8490 for a curbside delivery of their prescription(s).</p>
      <p class="content-text">Over-the-counter Pharmacy items are also available with curbside and home delivery services. Community members may call the Jax Pharmacy at +1 904-222-8490 for any questions regarding these services</p>
  </div>
</ion-content>