<ion-header>
  <app-header [cname]="'Our Services'"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let service of allServices ;let i= index" class="service-card" >
    <div class=" service-title">
      <div class="service-img">
        <img [src]="service.image">
      </div>
      <div class="title">
        <p>{{service.name}}</p>
      </div>
    </div>
    <div class="service-content">
      <p class="text-white ml-2 mt-2">{{service.content}}</p>
      <p class="read-more mt-2" [routerLink]="service.url">Read More
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>