<ion-header>
  <app-header [cname]="'Price Check'"></app-header>
</ion-header>

<ion-content>
  <div class="p-3">
    <div class="form-name">
      <p class="m-0 form-title">Please Fill This Form</p>
      <h4 class="mt-3">Basic Details</h4>
    </div>
    <form class="form-detail" [formGroup]="priceCheckForm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" formControlName="fname">
        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
          <div *ngIf="f.fname.errors.required">First name is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" formControlName="lname">
        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
          <div *ngIf="f.lname.errors.required">Last name is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email is not valid</div>
        </div>
      </div>

      <div class="form-group">
        <input type="number" class="form-control" placeholder="Phone Number" formControlName="phone_number">
        <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
          <div *ngIf="f.phone_number.errors.required">Phone number is required</div>
        </div>
      </div>


      <div class="row rx-number">
        <label class="ml-3 w-100">Rx Numbers to be transfered</label>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Name of medicine" formControlName="medicine_name_1">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Strength" formControlName="medicine_1_strength">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Quantity" formControlName="madicine_1_quantity">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Name of medicine" formControlName="medicine_name_2">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Strength" formControlName="medicine_2_strength">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Quantity" formControlName="madicine_2_quantity">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Name of medicine" formControlName="medicine_name_3">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Strength" formControlName="medicine_3_strength">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Quantity" formControlName="madicine_3_quantity">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Name of medicine" formControlName="medicine_name_4">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Strength" formControlName="medicine_4_strength">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Quantity" formControlName="madicine_4_quantity">
        </div>
        <div class="col-6 p-0">
          <input type="text" class="form-control" placeholder="Name of medicine" formControlName="medicine_name_5">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Strength" formControlName="medicine_5_strength">
        </div>
        <div class="col-3 p-0">
          <input type="text" class="form-control" placeholder="Quantity" formControlName="madicine_5_quantity">
        </div>
      </div>

      <div class="form-footer">
        <ion-item>
          <ion-label position="floating">
            <!-- <img src="assets/images/note.png" alt=""> -->
            Note To Pharmacy
          </ion-label>
          <ion-input type="text" formControlName="note_to_pharmacy"></ion-input>
        </ion-item>
      </div>

      <div class="submit-btn text-center mt-4">
        <button class="btn " [disabled]="isDisable" (click)="addPriceForm(priceCheckForm.value)">Submit</button>
      </div>
    </form>
  </div>
</ion-content>