<ion-header>
  <app-header [cname]="details.title"></app-header>
</ion-header>
<ion-content>
  <div class="roboto-miduim serivice-title">
    <img src="assets/images/notification.png" class="icon">
    <h4>{{details.title}}</h4>
    <img src="assets/images/logo.png" class="logo-img ml-auto mr-2">
  </div>
  <div class="notification-detail">
    <div class="notification-img">
      <img src="assets/images/about-us.jpg">
    </div>
    <p class="notification-title">We Offer free Delivery</p>
    <p class="content">We have invested and continue to invest in new products, talents and opportunities. We are fully committed to our
      countless patients and Pharmacists who rely on our products every day. With our focus on transparency, and better
      values and ethics, we would try to become one of the best pharmacy in the pharmaceutical arena.</p>
  </div>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>