<ion-header>
  <app-header [cname]="'Generic Drug Plan'"></app-header>
</ion-header>

<ion-content>
  <div class="cover-img generic">
    <div class="cover-text">
      <h4>Generic Drug Plan</h4>
    </div>
  </div>
  <div class="about-text ion-padding">
    <div class="form-name">
      <h3 class="form-title">$4.99 Generic Drug Plan</h3>
    </div>
    <p class="content-text"><strong>Jax Pharmacy</strong> is an advocate of affordable yet quality healthcare. Our generic drug plan is to ensure that you get your medication in a less expensive way without compromising the quality of the medications. All of our medications are FDA approved generics and comply with the Florida’s pedigree law. When you visit our pharmacy, please make sure to ask our staff about our $4.99 Generic Drug Plan.</p>
  </div>
</ion-content>