/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
    --text-color: #a1a1a1;
    --btn-color: #173493;
    --title-color: #e31a33;
}

.invalid-feedback {
    display: block;
}

body *[routerlink] {
    outline: none !important;
}

.roboto-miduim {
    font-family: "Roboto", sans-serif;
}

.ubntu-regular {
    font-family: "Ubuntu", sans-serif;
}
.sans-font {
    font-family: "Open Sans", sans-serif;
}
// Header css start

ion-header ion-toolbar:first-child {
    --background: #092882;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    ion-title {
        font-size: 17px;
        font-family: "Roboto", sans-serif;
    }
}
.header-md:after {
    background-image: unset;
}
// header css end

//Login and Sign up form css

.login-page {
    padding: 10px;
    display: flex;
    // align-items: center;
    justify-content: center;
    // height: 100vh;
    .text-color {
        color: var(--text-color);
        font-size: 16px;
    }
    .login_form {
        width: 300px;
        border-radius: 8px;
        padding: 18px;
        padding-top: 7px;
        margin: auto;
        .login_btn {
            background-color: var(--btn-color);
            padding: 5px 10px;
            font-size: 16px;
            // line-height: 40px;
            font-weight: 500;
            width: 100%;
            border-radius: 5px;
            outline: none;
            position: relative;
            color: #fff;
            cursor: pointer;
            box-shadow: none;
        }
        input {
            padding-left: 27px;
        }
    }

    .form-control {
        font-size: 12px;
        border: none;
        border-radius: 5px;
        border: 1px solid #d2d2d2;
        font-weight: 500;
        color: var(--text-color);
        background: #f9f9f9;
        box-shadow: none;
        padding: 17px 0;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-weight: 500;
        color: var(--text-color);
        font-size: 12px;
    }

    .sign_up_link {
        margin: 15px 0px 5px;
        width: 100%;
        display: inline-block;
        a {
            font-size: 12px;
            color: var(--text-color);
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
        }
        p {
            font-size: 12px;
            color: var(--text-color);
        }
        span {
            color: var(--btn-color);
        }
    }

    .or_section {
        position: relative;
        font-size: 12px;
        text-align: center;
        color: var(--text-color);
        font-weight: 500;
        margin-bottom: 20px;
        &:after {
            position: absolute;
            // background: #888a91;
            content: "";
            height: 1px;
            width: 42%;
            top: 8px;
            right: 0px;
        }
        &:before {
            position: absolute;
            // background: #888a91;
            content: "";
            height: 1px;
            width: 42%;
            top: 8px;
            left: 0px;
        }
    }

    .social_media_login {
        margin-top: 8px;
        .facebook_login {
            button {
                cursor: pointer;
                // border: 2px solid #003574;
                color: white;
                font-size: 12px;
                font-weight: 900;
                border-radius: 4px;
                width: 100%;
                background-color: #5b73a1;
                padding: 6px 4px;
                outline: none;
                box-shadow: none;
                i {
                    padding-right: 10px;
                }
            }
        }
        .google_login {
            button {
                cursor: pointer;
                // border: 2px solid #003574;
                color: var(--text-color);
                font-size: 12px;
                font-weight: 900;
                border-radius: 4px;
                width: 100%;
                background-color: #fff;
                padding: 6px 4px;
                outline: none;
                box-shadow: none;
                // i {
                //     padding-right: 10px;
                // }
                img {
                    height: 13px;
                    margin-top: -2px;
                    margin-right: 2px;
                }
            }
        }
    }
    .lock-icon {
        color: #899ee0;
        font-size: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 5px;
    }
    .eye-icon {
        position: absolute;
        right: 7px;
        bottom: 0;
        top: 0;
        color: #899ee0;
        margin: auto;
        font-size: 15px;
    }
}
.form-name {
    .form-title {
        padding-bottom: 5px;
        border-bottom: 2px solid #0dc9ff;
        display: inline-block;
        font-weight: 600;
    }

    h4 {
        font-size: 15px;
        font-weight: 600;
    }
}

.form-detail {
    .form-control {
        font-size: 12px;
        border: none;
        border-radius: 5px;
        border: 1px solid #d2d2d2;
        font-weight: 500;
        color: var(--text-color);
        background: #f9f9f9;
        box-shadow: none;
        padding:  17px 0 17px 15px;
    }
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        // font-weight: 500;
        color: var(--text-color);
        font-size: 12px;
    }

    .form-control:focus {
        border-color: #d2d2d2;
    }
}
.form-footer {
    padding: 25px;
}
.form-footer ion-item {
    --background: transparent;
    font-size: 13px;
    font-weight: 600;
    --padding-start: 0px;
    --border-color: #7c7577;
    color: #495057;
}
.submit-btn {
    button {
        background-color: var(--btn-color) !important;
        color: rgba(250,250,250,70%);
        border-radius: 0;
        font-size: 13px;
        padding: 7px 23px;
    }
    .btn {
        outline: none;
        box-shadow: none;
    }
    .btn:hover {
        color: white;
    }
}

//Footer css
.footer-md::before {
    content: none !important;
}
.footer-ios ion-toolbar:first-of-type {
    --border-width: 0 !important;
}
//footer css end

.cover-img {
    height: 200px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #707070;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(178deg, #f8f8f8, #70a0ff);
        opacity: 0.64;
    }
}
.cover-text {
    position: relative;
    z-index: 2;
    color: #ffffff;
    p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 18px;
        font-weight: 600;
    }
}
.header-text {
    font-size: 20px;
    font-weight: 600;
}
.sub-title {
    color: #898989;
    font-size: 14px;
}
.content-text {
    font-size: 14px;
    color: #898989;
}
.service-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    img {
        height: 34px;
        width: 30px;
        margin-top: 2px;
    }
}
.service-detail {
    .service-img {
        height: 120px;
        width: 220px;
        margin: auto;
        z-index: 2;
        img {
            max-height: 100%;
            min-height: 100%;
            max-width: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }
    .servicename-card {
        background: linear-gradient(180deg, #4160b8, #15275e);
        padding: 10px 24px;
        border-radius: 9px;
        margin-top: -26px;
        z-index: 4;
        position: relative;
        margin: -26px 15px 0;
        font-family: "Ubuntu", sans-serif;
        color: white;
        box-shadow: 0 3px 6px #00000029;
        .card-title {
            font-size: 17px;
        }
        .des {
            font-size: 12px;
        }
    }
    .about-text {
        padding: 30px 25px 30px 43px;
        .content-text {
            color: #787878;
            font-size: 13px;
        }
    }
}
