ion-title {
    margin-left: 17px;
}
ion-content {
    // --background: linear-gradient(#4160b8, #15275e 50%);
    // --background: #f0f2f9;
    --background: white;
}
.pharmacy-service {
    h4 {
        color: var(--title-color);
        font-size: 18px;
        margin: 0;
        padding-left: 5px;
    }
    .serivice-title {
        // display: flex;
        // align-items: center;
        // padding: 8px;
        // background: white;
        background: #133682;
        padding-top: 10px;
        .inner-section {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.95);
            border-top-left-radius: 32px;
            border-top-right-radius: 32px;
            padding: 10px;
            h4 {
                color: #131212;
                font-weight: 400;
            }
        }
        .medicarion-icon {
            height: 33px;
            width: 33px;
        }
        .logo-img {
            height: 37px;
        }
    }

    .services-content {
        // padding: 35px 0;
        .icon-bg {
            text-align: center;
            background: #ffeee0;
            border-radius: 11px;
            padding: 12px 0;
            margin: 5px;
            img {
                height: 35px;
                width: 27px;
            }
        }
        .form-name {
            font-size: 10px;
            color: #0c1a44;
            font-weight: 600;
            margin-left: 9px;
        }
        .service-section {
            height: 145px;
            // background: linear-gradient(180deg, #4F61B9 94%, #5768BC 70%, #949BC4 60%, #FFFFFF 50%);
            background: linear-gradient(180deg, #5768bc 20%, #4f61b9 50%, #949bc4 97%, white 118%);
            border-radius: 18px;
            display: flex;
            margin-top: 25px;
            padding: 15px;
            .service-img-sec {
                height: 111px;
                width: 135px;
                margin-left: auto;
                img {
                    max-height: 100%;
                    min-height: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
            }
            .service-title {
                color: #ffffffc4;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            .about {
                color: white;
                font-size: 10px;
            }
            .service-btn {
                background: white;
                border-radius: 11px;
                font-size: 11px;
                padding: 4px 10px 2px;
                margin-top: 23px;
            }
        }
        .form-section {
            background-image: url("../../assets/images/form-bg.png");
            padding: 25px 35px 15px 35px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .single-servics {
            padding: 10px;
            text-align: center;
            margin: 5px;
            min-height: 122px;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 86%;
            box-shadow: 0 3px 6px #00000024;
            background-color: white;
            img {
                width: 66px;
                height: 67px;
            }
            p {
                font-size: 12px;
                line-height: 14px;
                color: var(--heading-color);
                // opacity: 52%;
                margin-top: 5px;
            }
        }

        .service-img {
            // border: 1.5px solid var(--heading-color);
            // border-radius: 5px;
            // padding: 5px;
            .service-img-sec {
                height: 180px;
                width: 174px;
                img {
                    max-height: 100%;
                    min-height: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
            }
            .service-detail {
                p {
                    color: #f43350;
                    font-size: 17px;
                    font-weight: 100;
                    text-transform: uppercase;
                }
                .about {
                    color: #184f68;
                    font-size: 10px;
                }
                .service-btn {
                    border: 1px solid #9f9f9f;
                    text-align: center;
                    color: #f43350;
                    font-size: 11px;
                    padding: 6px 0;
                    margin-top: 37px;
                    i {
                        font-size: 14px;
                    }
                    .btn-text {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .detail {
                z-index: 2;
                position: relative;
                padding-top: 24px !important;
            }
        }
    }
}
