<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="menu d-flex">
      <ion-title class="text-center">{{details.headerTitle}}</ion-title>
      <div class="menu-icon float-right ml-auto">
        <ion-menu-button class=" text-white">
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style=" height: 100%;">
    <div class="pharmacy-service">
      <div class="roboto-miduim serivice-title">
        <img src="assets/images/rx-icon.png" class="medicarion-icon">
        <h4>{{details.serviceOptionTitle}}</h4>
        <img src="assets/images/logo.png" class="logo-img ml-auto mr-2">
      </div>
      <div class="services-content">
        <div class="row ubntu-regular  form-section">
          <div class="col-4 p-0 ">
            <div class="single-servics first-req" routerLink="/home/transfer-prescription">
              <img src="assets/images/form11.png">
              <p class="text-center">{{details.TransferPrescripsion}}</p>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="single-servics" routerLink="/home/refill-request">
              <img src="assets/images/form22.png">
              <p class="text-center">{{details.RefillRequest}}</p>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="single-servics" routerLink="/home/price-check">
              <img src="assets/images/form33.png">
              <p class="text-center">{{details.PriceCheck}}
              </p>
            </div>
          </div>
        </div>
        <div class="service-img mx-3 mt-3 d-flex roboto-miduim">
          <div class="service-img-sec">
            <img src="assets/images/service.jpg">

          </div>
          <div class="service-detail mt-4 ml-3">
            <p class="mb-0">
              {{details.Services}}
            </p>
            <span class="about">{{details.explore}}</span>
            <div class="service-btn">
              <span class="btn-text">{{details.allServices}}   <i class="fa fa-long-arrow-right ml-2" aria-hidden="true" routerLink="/home/our-services"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>