<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="menu d-flex">
      <ion-title class="text-center">{{details.headerTitle}}</ion-title>
      <div class="menu-icon float-right ml-auto">
        <ion-menu-button class=" text-white">
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style=" height: 100%;">
    <div class="pharmacy-service">
      <div class="roboto-miduim serivice-title">
        <div class="inner-section">
          <!-- <img src="assets/images/rx-icon.png" class="medicarion-icon"> -->
          <h4>{{details.serviceOptionTitle}}</h4>
          <img src="assets/images/logo.png" class="logo-img ml-auto mr-2">
        </div>
      </div>
      <div class="services-content ion-padding">
        <div class="row m-0">
          <div class="col-3 p-0" routerLink="/home/transfer-prescription">
            <div class="icon-bg">
              <img src="assets/images/red/transfer.svg">
            </div>
            <p class="form-name">{{details.TransferPrescripsion}}</p>
          </div>
          <div class="col-3 p-0" routerLink="/home/refill-request">
            <div class="icon-bg">
              <img src="assets/images/red/refill request.svg">
            </div>
            <p class="form-name">{{details.RefillRequest}}</p>
          </div>
          <div class="col-3 p-0" routerLink="/home/price-check">
            <div class="icon-bg">
              <img src="assets/images/red/price check.svg">
            </div>
            <p class="form-name">{{details.PriceCheck}}</p>
          </div>
          <div class="col-3 p-0" routerLink="/home/e-scribe">
            <div class="icon-bg">
              <img src="assets/images/rx-icon.png" style="height: 36px;width: 36px;">
            </div>
            <p class="form-name">{{details.eScribe}}</p>
          </div>
        </div>
        <div class="service-section" routerLink="/home/our-services">
          <div class="service-detail">
            <p class="mb-0 service-title">
              {{details.Services}}
            </p>
            <span class="about">{{details.explore}}</span>
            <div class="service-btn" >
              <span class="btn-text">{{details.allServices}} <i class="fa fa-long-arrow-right ml-2"
                  aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="service-img-sec">
            <img src="assets/images/service.png">
          </div>
        </div>
        <div class="service-detail">
          <div class="servicename-card pl-4" style="margin: 26px 0px 0;">
            <p class="card-title m-0 mt-2">{{details.title}}</p>
            <p class="des m-0">{{details.subTitle}}</p>
            <img src="assets/images/about3.png">
          </div>
        </div>
        <!-- <div class="row  form-section">
          <div class="col-4 p-0 ">
            <div class="single-servics first-req" routerLink="/home/transfer-prescription">
              <img src="assets/images/form11.png">
              <p class="text-center">{{details.TransferPrescripsion}}</p>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="single-servics" routerLink="/home/refill-request">
              <img src="assets/images/form22.png">
              <p class="text-center">{{details.RefillRequest}}</p>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="single-servics" routerLink="/home/price-check">
              <img src="assets/images/form33.png">
              <p class="text-center">{{details.PriceCheck}}
              </p>
            </div>
          </div>
        </div>
        <div class="service-img mx-3 mt-3 d-flex roboto-miduim" routerLink="/home/our-services">
          <div class="service-img-sec">
            <img src="assets/images/service.png">

          </div>
          <div class="service-detail mt-4 ml-3">
            <p class="mb-0">
              {{details.Services}}
            </p>
            <span class="about">{{details.explore}}</span>
            <div class="service-btn" routerLink="/home/our-services">
              <span class="btn-text">{{details.allServices}} <i class="fa fa-long-arrow-right ml-2"
                  aria-hidden="true"></i></span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>