ion-title {
    margin-left: 17px;
}
ion-content {
    // --background: linear-gradient(#4160b8, #15275e 50%);
    --background: white;
}
.pharmacy-service {
    h4 {
        color: var(--title-color);
        font-size: 18px;
        margin: 0;
        padding-left: 5px;
    }
    .serivice-title {
        display: flex;
        align-items: center;
        padding: 8px;
        background: white;
        .medicarion-icon {
            height: 33px;
            width: 33px;
        }
        .logo-img {
            height: 37px;
        }
    }

    .services-content {
        // padding: 35px 0;
        .form-section {
            background-image: url("../../assets/images/form-bg.png");
            padding: 25px 35px 15px 35px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .single-servics {
            padding: 10px;
            text-align: center;
            margin: 5px;
            min-height: 122px;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 86%;
            box-shadow: 0 3px 6px #00000024;
            background-color: white;
            img {
                width: 66px;
                height: 67px;
            }
            p {
                font-size: 12px;
                line-height: 14px;
                color: var(--heading-color);
                // opacity: 52%;
                margin-top: 5px;
            }
        }

        .service-img {
            border: 1.5px solid var(--heading-color);
            border-radius: 5px;
            padding: 5px;
            .service-img-sec {
                height: 180px;
                width: 174px;
                img {
                    max-height: 100%;
                    min-height: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
            }
            .service-detail {
                p {
                    color: #f43350;
                    font-size: 17px;
                    font-weight: 100;
                    text-transform: uppercase;
                }
                .about {
                    color: #184f68;
                    font-size: 10px;
                }
                .service-btn {
                    border: 1px solid #e7e7e7;
                    text-align: center;
                    color: #f43350;
                    font-size: 11px;
                    padding: 6px 0;
                    margin-top: 37px;
                    i {
                        font-size: 14px;
                    }
                    .btn-text {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .detail {
                z-index: 2;
                position: relative;
                padding-top: 24px !important;
            }
        }
    }
}
