.menu {
  height: 100%;
  background: linear-gradient(#898989, #ffffff);
  position: relative;
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  &:after {
    position: absolute;
    content: "";
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    // background-image: url("../../assets/images/grid.png");
    background-repeat: repeat;
    background-size: cover;
    z-index: 1;
  }
}
.logo-img {
  width: 100%;
  text-align: center;
  margin: 30px 0 15px;
  img{
    width: 210px;
  }
}
.all-menu-list {
  margin: 0 45px;
  position: relative;
  z-index: 11;
}
.menu-list {
  // padding: 11px 0 0;
  outline: none;
}
.menu-list p {
  position: relative;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}