<ion-header>
  <app-header [cname]="'Speciality Paciking'"></app-header>
</ion-header>

<ion-content>
  <div class="cover-img offer">
    <div class="cover-text">
      <h4>Speciality Paciking</h4>
    </div>
  </div>
  <div class="about-text ion-padding">
    <div class="form-name">
      <h3 class="form-title">We offer speciality packing show with picture dose packs</h3>
    </div>
    <p class="content-text"><strong>Dispill blisters are safe, simple and convenient :</strong> </p>
    <ul>
      <li>Easy to open, detachable and portable</li>
      <li>Color-coded to indicate the time of day when medication should be taken</li>
      <li>Filled directly by the pharmacist to ensure accuracy</li>
      <li>Cleaner and more convenient than traditional pill boxes</li>
      <li>Effective medication reminder system</li>
    </ul>
    <p class="content-text">The top of each individual blister pack lists the person's name, the medication within and the time it should be taken. Going out for lunch or away for the weekend? Simply bring along the appropriate blisters!</p>
  </div>
</ion-content>